/* Base */
:root {
    --color-primary: #3ae374;

    --color-dark--1: #3d3d3d;
    
    --color-grey--1: #57606f;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-family: 'Gaegu', sans-serif;
    background-color: var(--color-dark--1);
}

/* Typography */
.heading-primary {
    font-weight: 100;
    font-size: 5rem;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-primary);
}

.heading-secondary {
    font-size: 4rem;
    color: var(--color-primary);
}

.disclaimer {
    position: absolute;
    color: #fff;
    bottom: 2.5px;
    right: 5px;
}

/* Layout */
.solar-system-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Solar System */
.solar-system {
    height: 500px;
    width: 800px;
    position: relative;
    border: 3px solid var(--color-primary);;
}

.planet-box {
    position: relative;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Sun */
.sun {
    background-color: transparent;
    background-image: url("img/sun.png");
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 0 1rem 2rem rgba(255, 68, 0, 0.608);
}

/* Planet Paths */
.planet-path {
    fill: none;
    stroke: black;
    stroke-width: 1.8px;
}

.planet-path--mercury {
    stroke: #c8d6e5;
    width: 125px;
    height: 55px;
}

.planet-path--venus {
    stroke: #feca57;
    width: 181px;
    height: 75px;
}
.planet-path--earth {
    stroke: #10ac84;
    width: 246px;
    height: 103px;
}

.planet-path--mars {
    stroke: #ee5253;
    width: 289px;
    height: 141px;
}

.planet-path--jupiter {
    stroke: #e15f41;
    width: 433px;
    height: 182px;
}

.planet-path--saturn {
    stroke: #f5cd79;
    width: 586px;
    height: 259px;
}

.planet-path--uranus {
    stroke: #7efff5;
    width: 664px;
    height: 303px;
}

.planet-path--neptune {
    stroke: #1e90ff;
    width: 753px;
    height: 369px;
}

/* Planets */
.planet {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
}

.planet--mercury {
    background-image: url("img/mercury.png");
    background-position: center;
    background-size: cover;
    height: 10px;
    width: 10px;
    offset-path: path("m123.22,20.91c.98,13.5-25.69,26.44-59.57,28.9C29.77,52.26,1.51,43.31.53,29.81-.45,16.3,26.22,3.36,60.1.91s62.14,6.5,63.12,20Z");

    animation: orbit 2.4s infinite linear;
}

.planet--venus {
    background-image: url("img/venus.png");
    background-position: center;
    background-size: cover;
    height: 12px;
    width: 12px;
    offset-path: path("m178.94,29.34c1.39,19.17-37.42,37.61-86.68,41.18C42.99,74.1,1.93,61.46.54,42.29-.85,23.12,37.95,4.68,87.22,1.1c49.26-3.57,90.33,9.07,91.72,28.24Z");

    animation: orbit 6.2s infinite linear;
}

.planet--earth {
    background-image: url("img/earth.png");
    background-position: center;
    background-size: cover;
    height: 15px;
    width: 15px;
    offset-path: path("m243.74,40.64c1.93,26.59-50.95,52.1-118.1,56.97C58.48,102.48,2.48,84.87.55,58.28-1.38,31.69,51.5,6.18,118.65,1.31c67.16-4.87,123.16,12.74,125.09,39.33Z");

    animation: orbit 10s infinite linear;
}

.planet--mars {
    background-image: url("img/mars.png");
    background-position: center;
    background-size: cover;
    height: 11px;
    width: 11px;
    offset-path: path("m286.85,57.73c2.68,36.89-59.24,71.45-138.29,77.18C69.51,140.64,3.26,115.38.58,78.49-2.09,41.6,59.82,7.05,138.87,1.31s145.3,19.52,147.98,56.41Z");

    animation: orbit 18.8s infinite linear;
}

.planet--jupiter {
    background-image: url("img/jupiter.png");
    background-position: center;
    background-size: cover;
    height: 24px;
    width: 24px;
    offset-path: path("m430.54,73.2c3.48,47.99-89.94,93.88-208.67,102.49C103.14,184.3,4.08,152.38.59,104.39-2.89,56.4,90.54,10.52,209.27,1.9c118.73-8.61,217.8,23.31,221.28,71.3Z");

    animation: orbit 118.7s infinite linear;
}

.planet--saturn {
    background-image: url("img/saturn.png");
    background-position: center;
    background-size: cover;
    height: 24px;
    width: 64px;
    offset: path("m584.23,105.98c5,68.95-121.58,134.32-282.74,146.01C140.34,263.67,5.64,217.26.64,148.31-4.36,79.36,122.23,13.99,283.38,2.3c161.15-11.69,295.85,34.73,300.85,103.67Z");

    animation: orbit 294.8s infinite linear;
}

.planet--uranus {
    background-image: url("img/uranus.png");
    background-position: center;
    background-size: cover;
    height: 16px;
    width: 16px;
    offset: path("m661.97,124.31c5.84,80.53-137.46,156.55-320.07,169.8C159.29,307.35,6.51,252.81.67,172.28-5.17,91.75,138.13,15.73,320.74,2.48c182.61-13.25,335.38,41.3,341.22,121.83Z");

    animation: orbit 840.7s infinite linear;
}

.planet--neptune {
    background-image: url("img/neptune.png");
    background-position: center;
    background-size: cover;
    height: 16px;
    width: 16px;
    offset: path("m750.46,154.74c7.19,99.06-154.82,191.53-361.86,206.55C181.57,376.31,7.92,308.18.73,209.12-6.46,110.07,155.55,17.59,362.59,2.57c207.03-15.02,380.69,53.11,387.88,152.16Z");

    animation: orbit 1649s infinite linear;
}

/* Planet Information */
.planet-information {
    max-width: 1500px;
    margin: 0 auto;
    margin-top: 30px;
}

.planet-cards {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    row-gap: 25px;
    column-gap: 25px;
}

.planet-card {
    padding: 10px;
    background-color: var(--color-grey--1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.planet-card__heading {
    font-size: 3rem;
    padding-left: 15px;
}

.planet-card__img {
    height: 300px;
    align-self: center;
}

.planet-card__img--saturn {
    height: auto;
    width: 460px;
}

/* Utilities */
.m-bottom--large {
    margin-bottom: 50px;
}

.m-bottom--medium {
    margin-bottom: 25px;
}

/* Media Queries */
@media only screen and (max-width: 1500px) {
    .planet-information {
        margin: 30px;
    }

    .planet-cards {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
}

@media only screen and (max-width: 1084px) {
    .planet-cards {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 1fr);
    }
}

@media only screen and (max-width: 765px) {
    .solar-system {
        display: none;
    }
}

/* Keyframes */
@keyframes orbit {
    to {
        offset-distance: 100%;
    }
}



